/* Flutterwave Font */

@font-face {
  font-family: "Flutterwave";
  src: url(../fonts/Flutterwave/OpenType-TT/Flutterwave-Black.ttf)
    format("truetype");
}

@font-face {
  font-family: "Flw-black-italic";
  src: url(../fonts/Flutterwave/OpenType-TT/FLW-Black-Italic.ttf)
    format("truetype");
}

@font-face {
  font-family: "FLW-Bold-Italic";
  src: url(../fonts/Flutterwave/OpenType-TT/FLW-Bold-Italic.ttf)
    format("truetype");
}

@font-face {
  font-family: "FLW-Bold";
  src: url(../fonts/Flutterwave/OpenType-TT/FLW-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "FLW-Regular";
  src: url(../fonts/Flutterwave/OpenType-TT/FLW-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FLW-Italic";
  src: url(../fonts/Flutterwave/OpenType-TT/FLW-Italic.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Login */
.login__container {
  height: 384px;
  width: 396px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 31px 41px rgba(33, 43, 54, 0.2);
  border-radius: 4px;
  padding: 50px 65px;
}

.svg {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.input__form__row {
  position: relative;
  margin-bottom: 20px;
}

.input__form__row label {
  display: inline-block;
  margin: 5px 0;
  font-family: FLW-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;

  color: #828282;
}

input {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  background: linear-gradient(180deg, #ffffff 0%, #f8f8f9 100%);
  border: 1px solid #d4dce3;
  box-sizing: border-box;
  border-radius: 4px;
}

.login__button {
  width: 100%;
  font-family: FLW-Regular;
  background: #f5a623;
  box-shadow: 0px 0px 3px rgba(63, 63, 68, 0.05),
    1px 1px 3px rgba(50, 50, 54, 0.13);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
}

.forgot__password {
  font-family: FLW-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #f5a623;
}

.login__alternative p {
  text-align: center;
  font-family: FLW-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #828282;
}

.login__alternative p span {
  text-align: center;
  font-family: FLW-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #f5a623;
}

::placeholder {
  font-family: FLW-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #828282;
}

/* Sign up */

.signup__container {
  height: 675px;
  width: 396px;
  /* overflow-x: hidden;
  overflow-y: auto; */
  /* position: absolute; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 31px 41px rgba(33, 43, 54, 0.2);
  border-radius: 4px;
  padding: 50px 65px;
}

.signup__button {
  width: 100%;
  background: #f5a623;
  box-shadow: 0px 0px 3px rgba(63, 63, 68, 0.05),
    1px 1px 3px rgba(50, 50, 54, 0.13);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
}

/* Reset password */

.reset__container {
  height: 384px;
  width: 396px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 31px 41px rgba(33, 43, 54, 0.2);
  border-radius: 4px;
  padding: 50px 65px;
}
